<div id="movie_list" >
<h1>Listing movies</h1>
<table>
<% @movies.each do |movie| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >
<td>
<%= image_tag(movie.image_url, :class => 'list_image') %>
</td>
<td class="list_description" >
<dl>
<dt><%= movie.title %></dt>
<dd><%= truncate(strip_tags(movie.description),
:length => 80) %></dd>
</dl>
</td>
<td class="list_actions" >
<%= link_to 'Show', movie %><br/>
<%= link_to 'Edit', edit_movie_path(movie) %><br/>
<%= link_to 'Destroy', movie,
:confirm => 'Are you sure?',
:method => :delete %>

</td>
</tr>
<% end %>
</table>
</div>
<br />
<%= link_to 'New movie', new_movie_path %>